downloaded_images/
.vscode/
.venv/
__pycache__/
*.pyc

downloaded_images_bluestone/
screenshotfrom2026-02-1422-40-27.png    
debug_masks/
Images/
.env
output_images/
Intialtest/
output_jewels/

comparison/
FastSAM-s.pt
FastSAM-x.pt
output_result.jpg