downloaded_images/
jewelbox (1).csv
.vscode/
.venv/
__pycache__/
*.pyc
bluestone.csv
downloaded_images_bluestone/
screenshotfrom2026-02-1422-40-27.png    
debug_masks/
Images/
.env
output_images/
Intialtest/
output_jewels/
bluestone.csv
comparison/
FastSAM-s.pt
FastSAM-x.pt
output_result.jpg